<style>
    body {
        height: 100%;
        background-color: white !important;
        background-image: none !important;
        font-family: "Arial Black", Gadget, sans-serif; /**Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;*/
    }
</style>



<div class="st-header">
    <div class="d-flex justify-content-center">
        <img class="logo-header img-fluid" src="~/Assets/kiosko/img/logo-md.png" />
    </div>

</div>

<div class="start" style="margin-top: 6em;">
    <div class="container">
        @Html.Partial("~/Views/Start/Origin.cshtml")
        @Html.Partial("~/Views/Start/Receiver.cshtml")
        @Html.Partial("~/Views/Start/Content.cshtml")
        @Html.Partial("~/Views/Start/Cubiq.cshtml")
        @Html.Partial("~/Views/Start/Resume.cshtml")
        @Html.Partial("~/Views/Start/End.cshtml")
        @Html.Partial("~/Views/Start/Finish.cshtml")
        @Html.Partial("~/Views/Start/Print.cshtml")

    </div>
</div>


<style>

    .logo-header {
        height: 120px;
    }

    .st-header {
        background-color: #d52113;
        height: 5%;
    }

    .st-footer {
        background-color: #d52113;
        height: 100%;
    }
</style>

<div class="st-footer">
    <div class="d-flex justify-content-center">        
        <img src="~/Assets/kiosko/img/logo-sm.png" id="test_act" />
    </div>
</div>




